.v-page-banner__section__txt{
  /* --shadow: 0 0 .3em #000; */
  font-size: 24px;
  /* text-shadow: var(--shadow), var(--shadow), var(--shadow)!important; */
  .v-page-banner__heading{
    text-shadow: inherit;
  }
  @media screen and (max-width: 767px){
    font-size: clamp(16px, 4vw, 24px);
    align-items: start!important;
  }
}

.v-page-banner__heading.__h1 {
  letter-spacing: .2em;
  font-size: 2em; 
   @media screen and (max-width: 767px){ margin-top: 50px; }
}

.v-page-banner__section__txt p{
  font-size: 1em;
  font-weight: 400;
  line-height: 1.25;
  max-width: 20em;
}
 
.shopify-section:has(.shop-studio-grid){
  margin-bottom: 0
}

.shop-studio-grid p{
  font-family: var(--heading-font);
  font-size: 24px;
  margin-top: var(--min-spacing);
}


 

.pxs-image-with-text-wrapper{
  overflow: hidden;
}

@media screen and (min-width: 999px){
  .pxs-image-with-text-background{
    background-image: none!important;
  }
}
 
.mission__grid  .v-grid__grid-item:nth-child(even){ 
  justify-content: center;
  display: flex;
  flex-direction: column;
  .feature-card__heading, .feature-card__text{
    max-width: 600px;
    padding-inline: var(--spacing);
    align-self: center;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.about-us__grid {
  padding: 50px;  
}
 
.shopify-section:has(.our-story-text){
  margin-top: 0; 
}

.home-message{
  margin: 0;
  margin-inline: auto;
}