 
.v-page-banner__section__txt{
  /* --shadow: 0 0 .3em #000; */
  font-size: 24px;
  /* text-shadow: var(--shadow), var(--shadow), var(--shadow)!important; */
  .v-page-banner__heading{
    text-shadow: inherit;
  }
  @media screen and (max-width: 767px){
    font-size: 16px;
    align-items: start!important;
  }
}


 
.v-page-banner__heading.__h1 {
  letter-spacing: .2em;
  font-size: 2em; 
}

.v-page-banner__section__txt p{
  font-size: 1em;
  font-weight: 400;
  line-height: 1.25;
}
 
