
:root{
  --content-width: 400px;
  @media screen and (width >= 768px){
    --content-width: 752px;
  }
  @media screen and (width >= 1000px){
    --content-width: 832px;
  }
}

.v-page-banner__section__txt{
  font-size: 24px;
  .v-page-banner__heading{
    text-shadow: inherit;
  }
  @media screen and (max-width: 767px){
    font-size: clamp(16px, 4vw, 24px);
    align-items: start!important;
  }
}

.v-page-banner__heading.__h1 {
  letter-spacing: .2em;
  font-size: 2em; 
  margin-top: 0; 
  padding-top: 0;
  @media screen and (max-width: 767px){ margin-top: 50px; }
}

.v-page-banner__section__txt p{
  font-size: 1em;
  font-weight: 400;
  line-height: 1.25;
  max-width: 20em;
}

.pxs-image-with-text{
  position: relative;
}

.pxs-image-with-text-wrapper{
  position: static;
}

.pxs-image-with-text-subheading :where(h1,h2){
  color: #fff;
}
/* .pxs-image-with-text-subheading h1{
  letter-spacing: .2em;
  font-size: 20px;
} */


.pxs-image-with-text-subheading h1{ 
  font-size: 36px;
  margin-top: 0;
  font-family: var(--heading-font);
  @media screen and (width < 800px){
     white-space: nowrap;
  }
  @media screen and (width >= 800px){
     font-size: 70px;
  }
}

.home-message-content {
  padding-top: var(--max-spacing);
  border: 1px solid #f00;
}

.home-message-content .__h1{
  @media screen and (width < 800px){
     font-size: 32px;
  }
}

.home-message-content h2{ 
  @media screen and (width < 800px){
     font-size: 24px;
  }
}

@media (min-width: 720px) {
    .pxs-image-with-text-content {
        width: 80%;
        padding: 12px 0;
    }
}

.home-message-content :not(.__h1):where(h2,p,ul){
  text-align: left;
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
  list-style-position: outside; 
}