/* 
Viburnum Home CSS Index
-- Custom Properties
-- Utilities
-- Components
-- HTML Tags
-- Header
-- Mini Cart
-- Primary Nav Mobile
-- Primary Nav Desktop
-- Search Panel
-- Footer
-- Body 
-- Product Lists
-- Collections
-- Product Template
-- Product Images 

Pages
- Home
- Collections
*/

/* Custom Properties
==================== */

:root {
    --heading-font: 'Cormorant Garamond', serif;
    --body-font: 'Montserrat', sans-serif;
    --footer-link-color: #fff;
    --footer-link-color-hover: #ccc;
    --spacing: 24px;
    --min-spacing: 8px;
    --max-spacing: 48px; 
    --primary-color: #6e3d13;
    --secondary-color: #edece6;
    --footer-bg: #474d48;
    --text-color: rgb(44 44 44);
    --icon-color: #aaa;
    --hover-color: rgb(117, 71, 56);
    --colored-grid__bg-color: #edebec;
    --colored-grid__text-color: #333;
}
   

/* Utilities 
==================== */
.__container {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
}

.__container-bleed {
    padding-left: var(--spacing);
    padding-right: var(--spacing);
}

.__container-v-padding {
    padding-top: var(--spacing);
    padding-bottom: var(--spacing);
}

.__padding-t {
    padding-top: var(--spacing);
}

*:has( > .__link-covered){
  position: relative;
}
.__link-covered{
  display: block;
  position: absolute;
  inset: 0 0 0 0;
  z-index: 10;
}

.__screen-reader{
  position: fixed; 
  top: -100vh;
}

.__x-overflow{
  overflow-x: auto;
  scrollbar-width: none;
  width: 100%;
  display: flex;
  justify-items: flex-start
}

.__heading-font{
  font: var(--heading-font);
}
 
.button, .__cta{
  background-color: var(--secondary-color); 
  color: #333;
  line-height: normal;
  padding: 15px 20px;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  &:hover{
    background-color: var(--hover-color); 
  }
  :active{
    translate: 0,-1px;
  }
}

.__secondary-button{

}

.button.secondary,
.__cta.__secondary{
  background-color: transparent; 
  text-decoration: none;
}

.section-title, .__h1{
  text-align: center;
  font-size: 40px;
  font-family: var(--heading-font);
  font-weight: 300;
  letter-spacing: .05em;
}

.__justify-start{
  justify-items: start;
}

.__justify-center{
  justify-items: center;
}

.__justify-end{
  justify-items: end;
}

.__align-start{
  align-items: start;
}
.__align-center{
  align-items: center;
}
.__align-end{
  align-items: end;
}

.__hide-on-mobile {
  @media (max-width: 767px) {
    display: none;
  }
}
 
.__hide-on-tablet {
  @media (min-width: 768px) and (max-width: 998px) {
    display: none;
  }
}
 
.__hide-on-desktop {
  @media (min-width: 1000px) {
    display: none;
  }
}


/* Components
=============*/
.__colored-grid{
  background-color: var(--colored-grid__bg-color);
  color:  var(--colored-grid__text-color);
}

/* HTML Tags
=============*/
body{
  color: var(--text-color);
}

video{
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
}

button:active{
  translate: 0 1px;
}


/* Header
==================== */
.v--main-header {
  position: relative;
}

@media screen and (max-width: 1099px){
  .v--main-header{
    border-bottom: 1px solid #ccc;
  }
}

.v--header-grid__grid-item__nav{
  justify-items: flex-end;
  height: 100%;
  align-items: stretch; 
}

.mobile-navbar__wrapper,
.main-nav-bar__links__menu{
  display: flex;
  justify-items: flex-end; 
  align-items: stretch;
  @media screen and (min-width: 1100px){
    height: 100%;
  }
}

.main-nav-bar__links__menu__item{
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.secondary-nav-bar {
  background-color: #edece6;
  padding-top: var(--min-spacing);
  padding-bottom: var(--min-spacing);
}

.secondary-nav-bar__menu{
  display: flex; 
  margin: 0;
  padding: 0;
  justify-self: end;
  gap: var(--spacing);
  @media screen and (max-width: 1099px){
    padding-top: var(--spacing);
  }
  @media screen and (max-width: 800px){
    justify-self: center;
  }
  @media screen and (max-width: 550px){
    justify-items: space-between;
    width: 100%;
    gap: var(--min-spacing);
    padding-left: 8px;
    padding-right: 8px;
  }
}

.secondary-nav-bar__menu_link{
  color: #333;
  @media screen and (max-width: 550px){
      font-size: 12px;
  }
}

.secondary-nav-bar__menu_link:hover{
  color: #666;
}

.v--header-grid{
  display: grid;
  align-items: stretch; 
  padding-block: var(--min-spacing); 
  grid-template-columns: 250px auto 160px;
  gap: 0;
  @media  (max-width: 1099px){ 
    grid-template-columns: 40px 60px auto 160px;
  }
}

.v--header-grid__grid-item__menu-btn{
  display: none; 
  @media  (max-width: 1099px){ 
    display: flex;
    align-items: center;
    padding-right: var(--spacing)
  }
}

.v--header-grid__grid-item__logo{
  margin: 0;
}

.v--header-grid__grid-item__logo__link{
  display: grid;
  grid-template-columns: 60px auto;
  gap: var(--min-spacing);
  align-items: center;
}

.v--header-grid__grid-item__logo__image{
  width: 100%;
  height: auto;
}

.v--header-grid__grid-item__logo__text{
  font-size: 20px;
  font-family: var(--heading-font);
  white-space: nowrap;
  letter-spacing: .2em;
  @media  (max-width: 520px){
    display: none;
  }
}

.customer-login-link, .__account-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
}

.account-icon{
  width: 24px;
}

.v--header-grid__grid-item__account-items{
  display: grid;
  grid-template-columns: repeat(3,40px);
  justify-items: center;
  justify-self: end;
  align-items: center;
  gap: var(--min-spacing);
  /* border-right: 1px solid #ccc; */
  padding-right: var(--min-spacing);
  @media screen and (min-width: 1100px){
    border-right: none;
    padding-right: 0;
  }
}

.cart-count{
  position: relative;
}

.cart-bubble{
  background: #edece6;
  position: absolute;
  color: #333; 
  border-radius: 50%;
  font-size: 12px;
  width: 2em;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center; 
  top: -15px;
  right: -20px;
}


/* Mini Cart
==================== */

.v--header-grid .mini-cart-wrapper{
  position: relative;
}

.mini-cart{
  z-index: -100
}

.v--header-grid .mini-cart-wrapper:hover .mini-cart {
  z-index: 100;
}

.mini-cart .arrow{
  right: 80px;
}

.mini-cart-footer .button{
  width: auto;
}

.mini-cart-footer{
  align-items: center;
  justify-items: center;
}

.mini-cart-item{
  display: grid;
  grid-template-columns: 100px auto;
}

.mini-cart-item.cart-subtotal{
  grid-template-columns: auto;
}
  


/* Primary Nav Mobile
==================== */
.js--toggle-mobile-menu {
  display: none;
}

@media screen and (max-width: 1099px) {
  .v--header-grid__grid-item__nav {
    display: flex;
    justify-items: flex-end;
  }

  .js--toggle-mobile-menu {
    display: flex;
    border: none;
    background: none;
    color: #6e776b;
    margin-left: auto;
    margin-right: 0;
    &:hover {
      color: #afb5ad;
    }
  } 

  
  .mobile-navbar__wrapper{ 
    position: fixed;
    top: -100vh;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .75);
    z-index: 1000;
    display: flex;
    opacity: 0;
    transition: opacity .25s;
    
  }

  .main-nav-bar__links {
    --w: 350px;
    display: flex;
    flex-direction: column; 
    gap: var(--min-spacing);
    background-color: #fff;
    height: 100vh;
    max-width: var(--w);
    width: 100%;
    margin-left: auto;
    padding: var(--spacing);
    margin-top: 0;
    transform: translateX(var(--w));
    transition: transform .5s .25s;
  } 
  
  .main-nav-bar__top-level-grid{
    display: grid;
    width: 100%;
    grid-template-columns: auto 30px;
  }
 

  .main-nav-bar__submenu-toggle{
    background: none;
    border:none;
    transform: scale(1.5);
    &:active{
      transform: scale(1.5) translateY(1px);
    }
  }

  .main-nav-bar__links__menu__item.is-open   .main-nav-bar__submenu-toggle__icon{
    transform: rotate(180deg);
    color: var(--icon-color);
  } 

  .main-nav-bar__submenu{
    margin-top: 0;
    max-height: 0;
    display: none;
    overflow: hidden;
    transition: max-height .25s;
  }

  .is-open > .main-nav-bar__submenu{
    max-height: 100vh;
    display: block;
    transition: max-height .25s;
  }

  .main-nav-bar__links__menu,
  .secondary-nav-bar__menu{
    display: flex;
    justify-items: stretch;
    flex-direction: column;  
    width: 100%;
    gap: var(--min-spacing);
    @media screen and (max-width: 1099px){
      justify-items: start;
    }
  }

  .main-nav-bar__links__menu{
    margin-top: 0;
  }  

  .secondary-nav-bar__menu{
    border-top: 1px solid #ccc;
  }

  .is-open  .main-nav-bar__links{
    transform: translateX(0);
  }
  .main-nav-bar__links__menu__item__link {
    font-size: 15px;
    color: #333;
    text-transform: uppercase;
  }

  .mobile-navbar__wrapper.is-open {
    transition: opacity .25s;
    opacity: 1;
    top: 0;
  }

  .mobile-navbar__wrapper{
    transform: translateX(0);
    transition: transform 1s .25s;
  }


}  


/* Primary Nav Desktop
==================== */
@media screen and (min-width: 1100px) {

  .main-nav-bar__links__menu {
    display: flex;
    justify-items: flex-end; /* Standard syntax: flex-end instead of end */
    gap: var(--spacing);
    margin-top: 0;
    margin-bottom: 0; 
  } 

  .main-nav-bar__submenu,
  .main-nav-bar__submenu-toggle{
    display: none;
  }

  .main-nav-bar__links__menu__item{
    position: relative;
    justify-content: center
    
  }

  .main-nav-bar__links__menu__item:hover .main-nav-bar__submenu{
    position: absolute;
    display: block;
    width: 200px;
    top: 60px;
    z-index: 100;
    padding: var(--min-spacing);
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: var(--min-spacing);
    border: 1px solid #ccc;
    border-top: none;
    margin-top: 0;
    padding-top: 5px;
    left: calc( var(--min-spacing) * -1 );
    border-radius: 0 0 5px 5px;
  }
  
}

.mobile-secondary-links{
  @media screen and (min-width: 1100px) {
    display: none;
  }
}

@media screen and (max-width: 1099px) {
  .secondary-nav-bar {
    display: none;
  }
}

/*  Search Panel
==================== */
.search-icon__btn {
  background-color: transparent;
  border: none;
  color: var(--icon-color);
}

.search-form-section {
  display: none;
}
.search-form-section.is-open {
  display: block;
  position: absolute;
  width: 100vw;
  background-color: #fff;
  box-shadow: 0 .25em 0.25em rgba(0,0,0,.1);
  z-index: 20;
  border-top: 1px solid #efefef;
  padding-top: var(--min-spacing);
  padding-bottom: var(--min-spacing);
}

.search-form-section__grid {
  display: grid;
  grid-template-columns: 50px auto;
}
.header-search-form {
  display: grid;
  grid-template-columns: auto 50px;
  @media (min-width: 1080px) {
    display: grid;
  }
}

input.header-search-input {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 5px;
  padding-top: var(--min-spacing);
  padding-bottom: var(--min-spacing);
}

.header-search-input:focus,
.header-search-input:focus-visible {
  outline: 2px solid #eaeaea; /* neutral grey, adjust to your palette */
  outline-offset: 0;
}

input[type='submit'].header-search-button {
  position: static;
  justify-self: end;
}

.header-search-button-close {
  position: static;
  right: auto;
  opacity: 1;
  visibility: visible;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
 

/* Footer
==================== */
.v--main-footer {
  background-color: var(--footer-bg);
  color: #fff;
}

.v--copyright-bar {
  background-color: #000;
  @media screen and (max-width: 768px){
    text-align: center;
  }
}

.footer-grid {
  --gap: 40px;
  display: grid;
  gap: var(--gap);
  align-items: center;
  @media screen and (min-width: 1000px) {
    grid-template-columns: 0.32fr 0.68fr;
  }
}

.footer-grid__item {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1000px){
  .footer-grid__image{
    /* height: 30vw; */
    overflow: hidden;
  }
}


.footer-image {
  display: block;
  object-fit: cover;
  @media screen and (max-width: 999px) {
    /* margin-top: -77vw; */
    width: 100%;
    height: auto;
  }
}

.footer-grid__links {
  max-width: 900px;
  width: 100%;
  align-self: center;
  gap: var(--gap);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media screen and (max-width: 769px) {
    order: 2;
  }
  @media screen and (min-width: 770px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 769px) {
  .footer-grid__links-item {
    text-align: center;
  }
  .footer-grid__links-item:nth-child(3) {
    grid-column: span 2;
  }
}

.footer-grid__logo-and-signup {
  @media screen and (max-width: 769px) {
    order: 1;
  }
  @media screen and (min-width: 770px) {
    max-width: 900px;
    width: 100%;
    align-self: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0;
  }
}

.footer-grid__links-heading {
  color: #fff;
  font-size: 20px;
  font-family: var(--heading-font);
  letter-spacing: 0.2em;
}

.footer-logo {
  /* width: 182px; */
  display: grid;
  grid-template-columns: 100px auto;
  height: auto;
  margin-left: auto;
  margin-right: auto; 
  align-items: center;
  gap: 20px;
  padding-bottom: 20px; 
  
}

.footer-logo__image {
  aspect-ratio: 100 / 106.04;
  width: 100px;
  height: 106px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  @media screen and (max-width: 769px) { 
    width: 100px;
    height: auto;
  }
}


.footer-logo__site-name {
  text-align: left;
  font-size: 28px;
  line-height: 1.25;
  font-family: var(--heading-font);
  @media screen and (max-width: 769px) {
    br {
      display: none;
    }
  }
}

.footer-policy-menu {
  display: flex;
  gap: 20px;
  justify-items: space-between;
  max-width: 850px;
  width: 100%;
  align-self: center;
  @media screen and (max-width: 769px) {
    flex-direction: column;
    text-align: center;
    border-top: 1px solid #484848;
    padding-top: 30px;
    order: 3;
  }
}

.social-link,
.footer-policy-menu__item__link,
.footer-info-menu__item__link {
  line-height: 1.6em;
  font-size: 15px;
  color: var(--footer-link-color);
  &:hover {
    color: var(--footer-link-color-hover);
  }
  &:focus-visible {
    color: var(--footer-link-color-hover);
  }
}


.social li,
.footer-info-menu__item {
  padding: 5px 0;
}

.social-link svg {
  display: none;
}

.connect-info-wrapper a {
  color: #fff;
  text-decoration: underline;
}

.connect-info-wrapper a:hover {
  color: #fff;
  text-decoration: none;
}

.signup-heading {
  font-family: var(--heading-font);
  color: #fff;
}

.v--mailing-list {
  background-color: #646464;
  border-radius: 3px;
  padding: 20px;
}

.v--mailing-list :where(h2, p, .contact-form) {
  margin: 0;
  padding: 0;
}

/* Body 
==================== */
.main-content{
  background-color: #f9f7f3;
  max-width: 100%;
  margin-bottom: 0;
  padding-bottom: var(--max-spacing);
  display: flow-root;
}

.flickity-page-dots .dot{
  outline: 1px solid #fff;
}
.flickity-page-dots .dot:not(.is-selected){
  opacity: 1;
  background-color: var(--footer-bg)!important;
}

/* Product Lists
===================*/
.collections-list-section{
  padding-top: var(--max-spacing);
}

@media (min-width: 1260px) {
    .product-recommendations,
    .home-slideshow.home-slideshow-layout-full-width {
        width: 100vw;
        margin-left: 0;
    }
}

.product-recommendations,
.home-products-items{
  @media screen and (min-width:770px){ 
    gap: var(--min-spacing);
    display: grid;
    grid-template-columns: repeat(1fr, 3);
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and ( min-width: 1000px){
    gap: var(--spacing);
    grid-template-columns: repeat(4,1fr);
    max-width: 1260px;
  } 
}

:has(.home-products-items ,.product-recommendations, .product-recommendations-wrapper--section .rows-of-4 ) 
.product-list-item {
  @media screen and (min-width:540px){ 
    width: 100%;
  }
}

/* Collections
====================== */
.collection-header-items{
  max-width: 1260px;
  align-self: center;
  padding-top: calc( var(--spacing) * 2);
}

.main-items > .shopify-section{
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
}

.collection-header-content .page-title{
  font-family: var(--heading-font);
  font-size: 38px;
  font-weight: 300;
  letter-spacing: .05em;
  color: #444;
  padding-left: 0;
  padding-right: 0;
  @media screen and (min-width: 768px){
    text-align: left;
  }
}

.collection-products {
  display: grid;
  gap: var(--min-spacing);
  grid-template-columns: repeat(2,1fr);
  justify-self: center;
  @media screen and ( min-width: 750px){
    grid-template-columns: repeat(3,1fr);
    max-width: 750px;
  }
  @media screen and ( min-width: 1000px){
    grid-template-columns: repeat(4,1fr);
    max-width: 1260px;
    gap: var(--spacing);
  }
}

.product-list-item{
  background-color: #fff;
  display: grid;
  margin: 0;
  padding: 0;
}

.product-list-item-details{
  padding: var(--min-spacing);
}

.product-list-item-details{
  display: flex;
  padding: var(--min-spacing);
  display: flex;
  flex-direction: column;
  justify-items: end;
}

.product-list-item-details>*:first-child {
  font-size: 15px;
}

.pagination{
  margin-bottom :0;
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
}

/* Product Template
==================== */
.template-product .main-items{
  margin-bottom: 0;
}

.template-product.scroll-locked{
  overflow-y: scroll;
}

/* pickup-inline.css */
[data-modal-id="surface-pick-up"] {
  position: static !important;
  transform: none !important;
  background: none !important;
  box-shadow: none !important;
  width: 100% !important;
  max-width: 100% !important;
  margin: 1rem 0 0 !important;
  opacity: 1 !important;
  visibility: visible !important;
  pointer-events: auto !important;
}

.modal-inner{
  opacity: 1 
}
[data-modal-id="surface-pick-up"] [data-modal-close],
[data-modal-id="surface-pick-up"] .spinner {
  display: none !important;
}
body.scroll-locked {
  overflow: auto !important; /* prevent the modal's scroll-lock from freezing the page */
}

.surface-pick-up-modal{
  padding: 0;
}
.surface-pick-up-modal .modal-inner{
  padding: 0;
  background: transparent;
}

.modal-header{
  display: none;
}

.modal-contents{

}

.surface-pick-up-items{
  display: grid;
  align-items: start;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}

.surface-pick-up-item{
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: none;
}

/* Product Images 
==================== */

.product-list-item-thumbnail__link__image-container{
  outline: 1px solid #efefef;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-content: center;
}

.product-list-item-thumbnail__link__image-container img{
  object-fit: cover;
}